:root {
  --color-gray: #3f4954;
  --color-gray-light : #686666da;
  --bg-color: #0f0f0f;
  --color-white: #ffffff;
  --color-midnight: #104f55;
  //gradiant color
  --color-primary-gradiant: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

  // font-families
  --Abel: 'Abel', cursive;
  --Anton: 'Anton', cursive;
  --Josefin : 'Josefin', cursive;
  --Lexend: 'Lexend', cursive;
  --Livvic : 'Livvic', cursive;
}