.blog {
  box-shadow: 0 15px 20px rgba(0,0,0,.2);
  width: 80%;
  margin: 3rem 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  &__img {
    display: block;
    width: auto;
    height: 100%;
  }

  &__text-box {
    padding: 3.5rem 2rem;
  }

  &__heading {
    margin-bottom: 2.2rem;
    
  }

  &__time {
    display: block;
    margin-top: 2rem;
    font-size: 1.6rem;
  }
}